.cover__subtitle {
  color: #fff;
  max-width: 360px;
  margin: 32px 0 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  z-index: 1;

}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin: 16px 16px 0;
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}